---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import RichText from '../components/RichText.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pagesGeneric');
  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
---

<Layout>
  <main>
    {
      page?.data?.sections?.map((section) => (
        <section>
          {section?.modules?.map((module) => {
            switch (module.type) {
              case 'title':
                return <Title fields={module} />;
              case 'richText':
                return <RichText fields={module} />;
              default:
                return null;
            }
          })}
        </section>
      ))
    }
  </main>
</Layout>
