---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';

const [page] = await getCollection('pageHome');
---

<Layout>
  <main>
    {
      page.data.sections.map((section) => (
        <section>
          {section.modules.map((module) => {
            switch (module.type) {
              case 'moduleIntro':
                return <Intro fields={module} />;
              default:
                return null;
            }
          })}
        </section>
      ))
    }
  </main>
</Layout>
