---
import { marked } from 'marked';
import { Image } from 'astro:assets';

import { footer } from '../content/globals';

import Socials from './Socials.astro';

const parsedContent = await marked(footer.content);
const parsedLegal = await marked(footer.legal);
---

<footer>
  <div class="container">
    <div class="top">
      <div class="content link-animated-container" set:html={parsedContent} />
    </div>
    <div class="bottom">
      <a href="/" class="logo" aria-label="Zur Startseite">
        <Image src={footer.logo.image} alt={footer.logo.alt} />
      </a>
      <div class="legal link-animated-container" set:html={parsedLegal} />
      <div class="socials">
        <Socials />
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: clamp-fluid(120, 180);
    margin-bottom: to-rem(60);
    font-size: var(--fs-small);
    text-align: center;
  }

  .top {
    display: flex;
    justify-content: center;
  }

  .bottom {
    margin-top: clamp-fluid(40, 100);
    display: grid;
    row-gap: to-rem(32);
    grid-template-areas:
      'socials'
      'logo'
      'legal';
  }

  .logo {
    grid-area: logo;
    max-width: to-rem(150);
    margin-inline: auto;
  }

  .legal {
    grid-area: legal;
  }

  .socials {
    grid-area: socials;
  }

  @media (min-width: 768px) {
    .bottom {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: 'logo legal socials';
      align-items: center;
    }
  }
</style>
