---
import { Image } from 'astro:assets';

import { header } from '../content/globals';

import Socials from './Socials.astro';
---

<header>
  <div class="container">
    <a href="/" class="logo" aria-label="Zur Startseite">
      <Image src={header.logo.image} alt={header.logo.alt} />
    </a>
    <nav>
      <ul>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
      </ul>
    </nav>
    <div class="socials">
      <Socials />
    </div>
  </div>
</header>

<style lang="scss">
  header {
    padding-block: to-rem(32);
  }

  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    max-width: to-rem(150);
  }
</style>
