---
import type { CollectionEntry } from 'astro:content';

type ModuleIntro = Extract<
  CollectionEntry<'pageHome'>['data']['sections'][0]['modules'][0],
  { type: 'moduleIntro' }
>;

interface Props {
  fields: ModuleIntro;
}

import { marked } from 'marked';

const { fields } = Astro.props;

const parsedContent = await marked(fields.content);
---

<div class="module container" data-module={fields.type}>
  <h1>
    <strong>Die Waldstraße</strong>
    <br />
    Karlsruhe
  </h1>
  <div class="content-block richtext" set:html={parsedContent} data-inview />
</div>

<style lang="scss">
  h1 {
    font-size: clamp-fluid(30, 170);
    font-weight: var(--fw-light);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    strong {
      font-weight: var(--fw-black);
    }
  }

  .richtext {
    margin-top: clamp-fluid(64, 128);
    text-align: center;
  }
</style>
