---
import type { CollectionEntry } from 'astro:content';

type ModuleRichText = Extract<
  CollectionEntry<'pagesGeneric'>['data']['sections'][0]['modules'][0],
  { type: 'richText' }
>;

interface Props {
  fields: ModuleRichText;
}

import { marked } from 'marked';

const { fields } = Astro.props;

const parsedContent = await marked(fields.content);
---

<div class="module container" data-module={fields.type}>
  <div class="content-block richtext" data-inview set:html={parsedContent} />
</div>
