---
import type { CollectionEntry } from 'astro:content';

type ModuleTitle = Extract<
  CollectionEntry<'pagesGeneric'>['data']['sections'][0]['modules'][0],
  { type: 'title' }
>;

interface Props {
  fields: ModuleTitle;
}

const { fields } = Astro.props;
---

<div class="module container" data-module={fields.type}>
  <div class="content-block">
    <h1 data-inview>{fields.title}</h1>
  </div>
</div>
