---
import { marked } from 'marked';

import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;

const parsedContent = await marked(frontmatter.content);

const images = import.meta.glob('../media/*', { eager: true });
const imagePath = `../${frontmatter.image}`;
const image = images[imagePath] as { default: { src: string } };
---

<Layout>
  <main>
    <section class="container">
      <div class="content">
        <h1 data-inview>{frontmatter.title}</h1>
        <div class="richtext" data-inview set:html={parsedContent} />
        <br />
        <img src={image?.default?.src} alt="something" />
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  section {
    margin-block: to-rem(100);
  }

  .content {
    margin-inline: auto;
    max-width: 60ch;
  }

  .richtext {
    margin-top: to-rem(100);
  }
</style>
