---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Richtext from '../components/Richtext.astro';

const { frontmatter } = Astro.props;
---

<Layout>
  <main>
    {
      // @ts-expect-error not yet typed
      frontmatter?.sections?.map((section) => (
        <section>
          {
            // @ts-expect-error not yet typed
            section?.modules?.map((module) => {
              switch (module.type) {
                case 'title':
                  return <Title fields={module} />;
                case 'richText':
                  return <Richtext fields={module} />;
                default:
                  return null;
              }
            })
          }
        </section>
      ))
    }
  </main>
</Layout>
